<footer class="site-footer">
    <p class="text">
        {{ footer_text | default: "<img src="assets/img/SciLifeLab_full.jpg" alt="SLLicon" width="290" height="25" /> Koordinerad av SciLifeLab   <br>  
  <img src="assets/img/Vinnova.png" alt="Vinnovaicon" width="290" height="25" /> Finansierad av Vinnova " }}</p>
    <div class="footer-icons">
        <ul>
            <!-- Social icons from Font Awesome, if enabled -->
            {% include social/icons.liquid %}
        </ul>
    </div>
    {% if site.mermaid %}
        <script type="module">
          mermaid.initialize({ startOnLoad: false, theme: "default" });
          mermaid.run({ nodes: [...document.querySelectorAll('.language-mermaid'), ...document.querySelectorAll('.mermaid')] });
        </script>
    {% endif %}
</footer>


