<footer class="site-footer">
    <p class="text">
        {{ site.footer_text | default: <img src="assets/img/DIGIfor1Health_logos_footerSLL.jpg" alt="Koordinerad av SciLifeLab" width="559" height="85" /> <img src="assets/img/DIGIfor1Health_logos_footerV.jpg" alt="Finansierad av Vinnova" width="543" height="95" /> }}</p>
    <div class="footer-icons">
        <ul>
            <!-- Social icons from Font Awesome, if enabled -->
            {% include social/icons.liquid %}
        </ul>
    </div>
    {% if site.mermaid %}
        <script type="module">
          mermaid.initialize({ startOnLoad: false, theme: "default" });
          mermaid.run({ nodes: [...document.querySelectorAll('.language-mermaid'), ...document.querySelectorAll('.mermaid')] });
        </script>
    {% endif %}
</footer>


